<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>选課系统</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <label id = "username" th:text="'你好!' + ${username}"></label>
    <form th:action="@{/xmlServer}" method="GET">
        <input type="hidden" name="table" value="courses">
        <button type="submit">getCourseXML</button>
    </form>
    <form th:action="@{/xmlServer}" method="GET">
        <input type="hidden" name="table" value="choseCourse">
        <button type="submit">getCourseChoseXML</button>
    </form>
    <div class="container">
        <a href="myCourses">
            <i class="fa fa-columns fa-5x"></i>
            <label>我的課程</label>
        </a>
        <a href="chooseCourse">
            <i class="fa fa-file-text fa-5x"></i>
            <label>选課</label>
        </a>
        <a href="other">
            <i class="fa fa-female fa-5x"></i>
            <label>用戶管理</label>
        </a>
        <a href="other">
            <i class="fa fa-suitcase fa-5x"></i>
            <label>课程管理</label>
        </a>
    </div>
</body>
</html>
